<div class="selectBox">
	<h2>Welcome to Fittr, mate!</h2>

	<a href="/sign-up"><button class="loginBtn ">Sign Up</button></a>

		<br>

	<a href="/login"><button class="loginBtn signupBtn">Login</button></a>
</div>