<div class="selectBox">
	<h2>Login</h2>

	<input placeholder="Email" class="heightIn animated" /><br>
	<input placeholder="Password" class="heightIn animated" /><br>

	<a href="/login"><button class="loginBtn signupBtn">login</button></a>
</div>